/* General */
    html {
        min-height: 100%;
        position: relative;
    }
    body {
        margin: 0;
        margin-bottom: 20px;
    }
    footer {
        background-color: black;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
    }

/*      *********** */


/* Inicio de sesion */
    /* En auth/login.css */
/* ******************************************************* */

/* Barra de navegacion */
    /* bbb */
        #preloder {position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 999999;background: #000;}
        .loader {width: 40px;height: 40px;position: absolute;top: 50%;left: 50%;margin-top: -13px;
            margin-left: -13px;border-radius: 60px;animation: loader 0.8s linear infinite;-webkit-animation: loader 0.8s linear infinite;}
        .main-menu li:hover>a {color: #fff;background-color: gray;text-decoration: line;}
        .main-menu {list-style: none;text-align: center;padding-top: 5px;}
        .main-menu li {display: inline-block;position: relative;}
        .main-menu li a {display: block;font-size: 16px;font-weight: 500;color: #fff;
            margin-right: 40px;padding: 10px;position: relative;padding-right: 20px;}
        .main-menu li a i {color: #928d92;margin-left: 5px;}
        .main-menu li:hover {visibility: visible;opacity: 1;margin-top: 0;}
    /* Menu despegable */
        .dropbtn {color: white;padding: 16px;font-size: 16px;border: none;cursor: pointer;}
        .dropdown {position: relative;display: inline-block;}
        .dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);z-index: 1;}
        .dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}
        .dropdown-content a:hover {background-color: #f1f1f1}
        .dropdown:hover .dropdown-content {display: block;color: white;}
        .dropdown:hover .dropbtn {background-color: gray;color: white;}
    /* Logo */
        .site-logo {padding-top: 5px;float: left;-webkit-filter: saturate(3);filter: saturate(3);}
        .user-panel {float: right;font-size: 16px;font-weight: 500;color: #fff;margin-top: 5px;padding: 10px;margin-right: 100px;}
        .user-panel a {color: #fff;}
/* ******************************************************* */

/* Ventana de inicio ( Ventana principal) */
    .home-section {/* height: 355px; */padding-top: 150px;background-image: url('../images/fondo8.jpg');}
    .set-bg {background-repeat: no-repeat;background-size: cover;background-position: top center;}
    .startup-content {max-width: 1496px;margin: 0 auto;font-size: 16px;color: #fff;}
    .startup-content h2 {color: black;font-weight: bold;}
    .project-options a, .project-options span {font-style: italic;color: #fff;margin: 0 10px;font-weight: 700;}
    .project-options a:hover {color: #fff;}
    .supply-content{
        margin-bottom:135px;
        padding-left:60px;
    }

/* ******************************************************* */
/* Ventanas para suministros y servcios */
    /* Parte de arriba */
        .page-top-section {height: 180px;/* height: 355px; */padding-top: 35px;}
        .page-info {max-width: 1496px;margin: 0 auto;font-size: 16px;color: #000;padding-left: 60px;}
        .page-info h2 {color: #000;font-size: 48px;font-weight: bold;}
        .page-info a {color: #ffffff;font-weight: bold;}
        .page-info a:hover {color: white}
        .page-info span {color: #000;font-weight: bold;}        
        .t-stroke {color: #000000;/* transparent; */-moz-text-stroke-width: 2px;-webkit-text-stroke-width: 2px;
            -moz-text-stroke-color: #000000;-webkit-text-stroke-color: #000000;/* #ffffff; */line-height: 170px; }
        .do-circle {border-radius: 50%;  border-width: .5px;border-style: solid;border-color: #000000;}
        .do-item {width: 100%;height: auto;position: relative; /* background-color: aqua; */opacity: 0.90;}
        .do-item-circle {max-width: 250px; }
    /* Imagen y color del fondo del frente del circulo */
        .do-info .do-info-back { transform: rotate3d(0, 1, 0, 180deg);background-color: #9fd5d1; opacity: 0.70;}
        .do-item-circle-back {height:251px;opacity: 0.60;border-color: black;}
        .do-info-wrap {position: absolute;top: 20px;left: 20px;width: calc(100% - 40px);height: calc(100% - 40px);transition: all 0.4s ease-in-out;
            perspective: 800px;box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(129, 72, 129, 0.2);;/* rgba(129, 72, 129, 0.2); */}
        .do-info {position: absolute;width: 100%;height: 100%;transition: all 0.4s ease-in-out;transform-style: preserve-3d;}
        .do-info > div {display: block;position: absolute;width: 100%;height: 100%;backface-visibility: hidden;}
    /* Determina el ancho donde estara el texto d ela descripcion */
        .text-info {text-transform: uppercase;font-size: 14px;color:black;padding: 32px 0 0 0;height: 80px; 
            font-family: 'Open Sans', Arial, sans-serif;text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);}
        .do-info-back {text-align: center;}
        .do-info-back > div {color: black;font-size: 12px;}
        .do-item:hover .do-info-wrap {box-shadow: 0 0 0 0 #000000, inset 0 0 3px rgba(255, 255, 255, 0.8); /* rgba(255, 255, 255, 0.8) */}
        .do-item:hover .do-info {transform: rotate3d(0, 1, 0, -180deg);}
        .backgroud-icon{background-color:#436999;width: 30px;height: 30px;border-width: .5px;border-style: solid;border-color: #000000;}
/*  *******************************      */


/*      Pie de pagina*/
    .footer-section {
        background-color: #081624;align-items: center;text-align: center;position: relative;bottom: 0;width: 100%;color: white;
        opacity:.95; filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#330d38', endColorstr='#190d36',radientType=1);
        position: absolute; bottom: 0 !important; bottom: -1px;}
    .footer-section .container {position: relative;color: white;padding: 10px 15px 10px;}
    .footer-section a {color: #005DCF;}
    .footer-section a:hover {color: #005DCF;text-decoration-line: underline;}
/*          *******************************      */


/* Responsividad */
@media (min-width: 1200px) {
    .container {
        max-width: 1175px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu li a {
        margin-right: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .main-menu.primary-menu {
        display: none;
    }
}
@media only screen and (max-width: 479px) {
    .main-menu li a {
        margin-right: 20px;
    }
}
@media only screen and (max-width: 380px) {
    .supply-content{
        margin-bottom:35px;
        padding-left:600px
    }
}