.projects-table{
    margin-top:0px;
}
.section-projects-admin {
    background: white;
    color: black;
}
.container-projects-admin {
    padding-top: 100px;
    padding-bottom: 30px;
    min-height: 552PX;
}