.text-extra-light-cont {
    font-weight: 100 !important;
    color:#a6a6a6;
}
.progress-content {
    margin:0 auto !important;
}
.progress-content .circle,.progress-content .bar {
    display: inline-block;
    background: #fff;
    width: 50px; height: 50px;
    border-radius: 40px;
    border: 1px solid black;
}
.progress-content .bar {
    width: 60px;
    height: 8px;
    border-left: none;
    border-right: none;
    margin-bottom: 7px;
    border-radius: 0;
}
.progress-content .circle .label-icon {
    display: inline-block;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 10px;
    margin-left: 1px;
    color: #b5b5ba;
    font-size: 12px;
}
.progress-content .circle .title {
    color: #b5b5ba;
    font-size: 5px;
    line-height: 10px;
    margin-left: 5px;
}
.circle, .bar, .label-icon{
    transition: all 1s;
}
.label-icon{
    cursor: pointer;
}
.progress-content .circle {
    
    color: white;
    background-color: gray;
}
.progress-content .bar{
    color: white;
    background-color: white;
}

.progress-content .bar.done, .progress-content .circle.done {
    background: #337ab7;
}
.icon{
    color:white;
}

.progress-content .circle.done .label-icon {
    color: #FFF;
    background: #337ab7;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
    padding: 0px;
}
.progress-content .circle.done .title {
    color: #444;
}
.progress-content .circle.active {
    color: #FFF;
    background: #5bc0de;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2); 
}

.progress-content .circle.active .title {
    color: white;
    color: #5bc0de;
}

.label-icon:hover > p{
    visibility: visible;
    opacity: 1;
    font-size: 12px;
    color: #7c7c7c;
}
.tooltip-stage-bottom{
    visibility:hidden;
    opacity: 0;
    amimation: fade 2s linear;
    position: absolute;
    color: #108baf;
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif !important;
    z-index: 1;
    transition: visibility 0s, opacity 0.5s linear;
    line-height: normal;
    text-align:left !important;
    margin-top:10px;
    width: 90px;
}


.tooltip-date-top{
    amimation: fade 2s linear;
    position: absolute;
    color: #108baf;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif !important;
    z-index: 1;
    line-height: normal;
    text-align:left !important;
    margin-top:-70px;
    width: 90px;
}

@media only screen and (max-width: 479px) {
    .progress-content {
        margin:0 auto !important;
    }
    .progress-content .circle,.progress-content .bar {
        display: inline-block;
        background: #fff;
        width: 25px; height: 25px;
        border-radius: 20px;
        border: 1px solid black;
    }
    .progress-content .bar {
        width: 22px;
        height: 4px;
        border-left: none;
        border-right: none;
        margin-bottom: 3.5px;
        border-radius: 0;
    }
    .progress-content .circle .label-icon {
        display: inline-block;
        line-height: 16px;
        border-radius: 16px;
        margin-top: 3.5px;
        margin-left: 1.5px;
        color: #b5b5ba;
        font-size: 8px;
    }
    .progress-content .circle .title {
        color: #b5b5ba;
        font-size: 5px;
        line-height: 5px;
        margin-left: 2px;
    }
    .circle, .bar, .label-icon{
        transition: all 1s;
    }
    .label-icon{
        cursor: pointer;
    }
    .progress-content .circle {
        color: white;
        background-color: gray;
    }
    .progress-content .bar{
        color: white;
        background-color: white;
    }
    .progress-content .bar.done, .progress-content .circle.done {
        background: #337ab7;
    }
    .icon{
        color:white;
    }
    .progress-content .circle.done .label-icon {
        color: #FFF;
        background: #337ab7;
        box-shadow: inset 0 0 2px rgba(0,0,0,.2);
        padding: 0px;
    }
    .progress-content .circle.done .title {
        color: #444;
    }
    .progress-content .circle.active {
        color: #FFF;
        background: #5bc0de;
        box-shadow: inset 0 0 2px rgba(0,0,0,.2); 
    }
    
    .progress-content .circle.active .title {
        color: white;
        color: #5bc0de;
    }
    
    .label-icon:hover > p{
        visibility: visible;
        opacity: 1;
        font-size: 10px;
        color: #7c7c7c;
    }
    .tooltip-stage-bottom{
        visibility:hidden;
        opacity: 0;
        amimation: fade 2s linear;
        position: absolute;
        color: #108baf;
        font-size: 8px;
        font-family: Verdana, Geneva, sans-serif !important;
        z-index: 1;
        transition: visibility 0s, opacity 0.5s linear;
        line-height: normal;
        text-align:left !important;
        margin-left: -20px;
        margin-top:8px;
        font-weight: bold;
        width: 40px;
    }
    
    
    .tooltip-date-top{
        amimation: fade 2s linear;
        position: absolute;
        color: #108baf;
        font-size: 11px;
        font-family: Verdana, Geneva, sans-serif !important;
        z-index: 1;
        line-height: normal;
        text-align:left !important;
        margin-top:-60px;
        width: 50px;
    }
}